body {
    position: relative;
}

* {
    font-size: 12px;
}

form {
    width: 40%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: #f2f2f2;
}

label {
    font-weight: bold;
}

input {
    padding: 7px;
    border: 1.5 solid #333;
    border-radius: 6px;
}

input:hover {
    border-color: blue;
}

input:focus {
    border-color: blue;
    box-shadow: 0px 0px 4px blue;
    outline: none;
}

/* Buttons */
.btncon {
    align-self: center;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.btncon button {
    width: 32%;
    padding: 10px 30px;
    border: 2px solid black;
    background-color: azure;
    border-radius: 7px;
    font-weight: bolder;
    font-size: 14px;
    box-sizing: border-box;
}

.btncon button:hover {
    color: black;
    border: 2px solid black;
    background-color: lightgrey;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

thead {
    background-color: #d9d9d9;
}

th,
td {
    max-width: 300px;
    border: 1px solid #000;
    padding: 10px 12px;
    text-align: center;
    line-break: loose;

}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

.tdBtns button {
    font-weight: bolder;
    font-size: 14px;
    border-radius: 9px;
}

.tdBtns button:nth-child(1) {
    background-color: lightgreen;
}

.tdBtns button:nth-child(2) {
    background-color: lightcoral;
}

/* hover */
.tdBtns button:nth-child(1):hover {
    background-color: darkgreen;
    color: white;
    border: 2px solid black;
}

.tdBtns button:nth-child(2):hover {
    background-color: darkred;
    color: white;
    border: 2px solid black;
}

/* Search */
.search {
    width: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #cecbcb;
    border-radius: 20px 0px 0px 20px;
    padding: 9px 3px;
    padding-left: 20px;
}

.search>label {
    font-size: 16px;

}

input[type="search"] {
    width: 90%;
    border: none;
    border-radius: 13px 0px 0px 13px;
}